$primary-color: #2196f3;
$timer_size: 60vw;
$timer_max_size: 450px;
$control_size: 10vw;
$control_max_size: 70px;
// body {
//     text-align: center;
// }

// .hero-body {
//     flex-direction: column;
// }