<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.1/css/bulma.min.css">
    <title>Korsun Rodion showcase</title>
  </head>
  <body scroll="no">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div id="header" class="navbar-brand notification is-info">
        <h1 class="subtitle is-5">My projects</h1>
        <!-- <h2 id="info" class="subtitle navbar-item is-6">Work for 25 minutes, rest 5 minutes. Repeat four times, relax for 15.</h2> -->
      </div>
    </nav>

    <div id="main" class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child card">
              <header class="card-header">
                <p class="card-header-title">
                  Pomodoro timer
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
              </header>
              <div class="card-content">
                <div class="content">
                  Simple open-control pomodoro timer. Typical flow - work for 25 minutes, rest for 5. Repeat 4 times, relax for 15 minutes.
                  <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                </div>
              </div>
              <footer class="card-footer">
                <a href="http://pomodoro.korsunrodion.com" class="card-footer-item">Try</a>
                <!-- <a href="#" class="card-footer-item">Edit</a> -->
              </footer>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child">
              <!-- Put any content you want -->
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child">
            <!-- Put any content you want -->
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child">
          <!-- Put any content you want -->
        </article>
      </div>
    </div>

<style> 
      body {
        height: 500px;
      }

      #main {
        margin: 100px 50px;
        height: 100%;
      }

      /* .is-child {
        background-color: lightblue;
      } */

      #header {
        display: block;
        width: 100%;
      }
    </style>
  </body>
</html>
